body {
    // color: red;
}
.logbook-form {
    width: 40%;
    padding: 30px 16px;
    background: #fff;
    border-radius: 3px;
}
.logbook-form.logbook-form--in-modal {
    width: 100%;
    padding: 30px 0;
}
.logbook-form__label,
.logbook-form__input {
    width: 100%;
}

.logbook-form__input {
    height: 40px;
}
.logbook-form__input[name="travel-description"] {
    height: 102px;
}
.logbook-form__field {
    margin-bottom: 20px;
}
.box {
    display: flex;
    align-items: flex-start;
}

.box__item {
    width: 60%;
    padding-left: 40px;
}
.logbook__avatar {
    width: 100%;
}
img {
    max-width: 100%;
}

.travel-item {
    list-style: none;
    margin-bottom: 30px;
}
.leaflet-container {
    // position: static !important;
    height: 100%;
}

.posts {
    display: flex;
}
.posts__content {
    width: 80%;
}
.posts__control{ 
    width: 20%;
    text-align: center;
    padding-top: 30px;
}
.coordinate {
    display: flex;
}
.coordinate__item {
    flex: 1;
}
.logbook-form__input {
    border: 1px solid rgba(0, 0, 0, 0.3);;
    border-radius: 3px;
}
.logbook-form__field.hide {
    display: none;
}
.logbook-form__field--lng,
.logbook-form__field--lat {
    display: inline-block;
    width: 50%;
}
.logbook-form__field--lng {
    margin-right: 20px;
    width: calc(50% - 20px);
}
.coordinate {
    padding-bottom: 30px;
    padding-left: 16px;

    &__item {
        list-style: none;
        padding-left: 30px;
        position: relative;
    }
}

.card-subtitle {
    padding: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.logo {
    float: left;
}